// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$main: #BAE7FF;
$main-dark: #C0D6FF;
$hover_main: #1681fbb7;
$text: #303841;
$hover_text: #46515e;
$black: #0F1F0F;
$bg: #eeeeee;
