// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');


// To use a font file (.woff) uncomment following lines
@font-face {
   font-family: 'Fungis';
   src: url('fungis_regular.ttf');
   font-weight: normal;
}
@font-face {
   font-family: 'Fungis';
   src: url('fungis_heavy.ttf');
   font-weight: bolder;
}
@font-face {
   font-family: 'Fungis';
   src: url('fungis_bold.ttf');
   font-weight: bold;
}

// Define fonts for body and headers
$body-font: "Fungis", "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Fungis", "Nunito", "Helvetica", "sans-serif";
