// Specific CSS for your home-page
.row-intro {
  margin: 32px 0px;
  background-color: white;
  align-items: center;

  h1 {
    font-size: 80px;
    font-weight: bold;
    padding-left: 10%;
  }
  .image {
    width: auto;
  }
  img {
    width: 100%;
  }
}

.row-home {
  background-color: white;
  margin: 0px;
  padding: 32px;
  justify-content: center;
  align-items: center;
}

#row-cards {
  background-color: $main;
  border: 2px solid black;
  padding: 10%;
}
