<div class="footer border">
  <div class="footer-text">
    <h6>Prodem Talents</h6>
  </div>
  <div class="footer-links">
    <div class="contact">
      <p>+1(814)-470-7063</p>
      <p>+1(224)-727-7156</p>
    </div>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
