<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6 mt-5 p-5">
    <h2>About Prodem Talents</h2>
    <p>We understand this is a complicated time. With the new NCAA lisgislation, allowing athletes to recive compensation for their name, image, and likeness, it may be difficult to optimize the new opportunities available to you.</p>
    <p>At Prodem, we aim to connect Northwestern student-athletes with Evanston local businesses by offering guidance on how to find and select the best partnerships. Our agents work to individually represent students athletes and negotiate sponsorships on their behalf. We strive to work until our athletes find the right business for their individual preferences.</p>
    <p>But business is a two-way street. Evanston local businesses have the chance to utilize student-athelte influence for marketing and brand exposure on campus. We aim to help businesses connect with capable, dependable athletes</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-4 mb-5 p-2">
    <div class="container rounded border text-center py-3" id="name-reason">
      <p>PRO = professional, profitable, probatus.</p>
      <p>DEM = tandem.</p>
      <p>PRODEM.</p>
    </div>
  </div>
</div>
