<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1581675623581-f075eb270b86?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8c3BvcnR8fHx8fHwxNjI5Nzk2MjU4&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);">
  <div class="container">
    <h1>Everyone needs a teammate</h1>
    <p>Connecting atheltes to businesses</p>
  </div>
</div>

<div class="row p-5 background">
  <div class="col-7">
    <div class="flex">
      <div class="item">
        <h3>For Athletes</h3>
        <h4>Meet your agent</h4>
        <p>One on one assistance to grow</p>
        <% if user_signed_in? %>
          <%= link_to "Talk to an agent", schedule_path, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="item">
        <h3>For Businesses</h3>
        <h4>Find your representative</h4>
        <p>See how athletes can help your business</p>
        <%= link_to "Contact Us", contact_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="box">
      <h2>Where Talent Meets Business</h2>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis cupiditate rem ea blanditiis odit, veniam, architecto possimus illo quo, aperiam quam et. Eaque, corrupti animi alias dicta repellendus similique itaque?
    </div>
  </div>
</div>
<div class="row p-5 background justify-content-center">
  <div class="col-12 col-md-6 text-center">
    <h3>Learn Our Philosophy</h3>
    <p>Why we're exited about what we do and where we're headed</p>
    <%= link_to 'Read more', about_path, class: 'btn btn-primary' %>
  </div>
</div>
