.flex {
  display: flex;
}
.flex > .item {
  padding: 55px 10px;
  text-align: center;
  color: $text;
  height: 300px;
  width: 80%;
  margin: 0px 10px;
  border-radius: 10px;
  box-shadow: -2px 2px 5px $hover_text;
  background-color: white;
}

.item h3 {
  font-weight: bold;
}

.box {
  color: $text;
}

.background {
  background-color: white;
}
