.navbar-lewagon {
  justify-content: space-between;
  border: 1px solid black;
  li {
    margin: 0px 2px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 10vw;
  max-width: 150px;
}
